<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @borrower.date %>
</p>

<p>
  <strong>Books:</strong>
  <%= @borrower.books %>
</p>

<p>
  <strong>Users:</strong>
  <%= @borrower.users %>
</p>

<%= link_to 'Edit', edit_borrower_path(@borrower) %> |
<%= link_to 'Back', borrowers_path %>
